<template>
    <div class="container">
      <div class="image" :style="{backgroundImage: `url(${item.image})`}"></div>
      <div class="data">
          <div class="title">
              <spam>{{item.name}}</spam>
              <spam>{{item.year}}</spam>
          </div>
          <div class="albums">
              <spam>{{item.origin}}</spam>
          </div>
          <div class="albums">
              <spam>Albums:</spam>
              <div class="list">
                  <spam>{{item.albums[0]}}, </spam>
                  <spam>{{item.albums[1]}}, </spam>
                  <spam>{{item.albums[2]}}, </spam>
                  <spam>{{item.albums[3]}}. </spam>
              </div>
          </div>
      </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class HelloWorld extends Vue {
  @Prop( {} ) item: any;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
    background-color: lightseagreen;
    width: 800px;
    height: 200px;
    display: flex;
    margin-bottom: 30px;
}
.container > .image {
    width: 300px;
    height: 100%;
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container > .data {
    color:#fff;
    display: flex;
    flex-flow: column;
    padding:20px;
}
.container > .data > .title > spam {
    font-weight: bold;
    font-size: 1.4em;
}
.container > .data > .title {
    display: flex;
    line-height: 30px;
}

.container > .data > .title > h4{
    margin-left: 5px;
}
.container > .data > h4 {
    margin:0px;
    padding: 0px;
}

.container > .data > .albums  {
    display: flex;
}


.container > .data > .albums  spam{
    font-size: 1.2em;
    font-weight: 400;
}
.container > .data > .albums > .list {
    flex-flow: column;
}
</style>
