<template>
    <div class="app">
        <h1>Music</h1>
        <div class="search">
            <input
                v-model="search"
                class="input"
                placeholder="Escriba un nombre"
            >
            <button class="search-button">Buscar</button>
            <button class="button" @click="clear()">Limpiar</button>
        </div> 
        <div class="item">
            <Card 
                v-for="(band, index) in listBands"
                :key="index"
                :item="band"
            />
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import Card from './components/Card.vue';

@Component({
    components: {
        Card,
    }
})
export default class App extends Vue {
    listBands: any[] = [];
    search: any = '';
    list: any[] = [
    {
      name: 'Foreigner',
      image: 'https://3.bp.blogspot.com/-q9VNMSitG6c/WL3S7MEk0vI/AAAAAAAASPI/k6iurBncdiY6kyP1kIWxEYzvyHD4vB22wCLcB/s1600/Foreigner.jpg',
      origin: 'New York',
      year: '(1976)',
      albums:[ 'Foreigner', ' Double Vision', 'Head Games', '4', 'Agent Provocateur']
    },
    {
      name: 'Scorpions',
      image: 'https://monterreyrock.com/wp-content/uploads/2020/03/10-grandes-canciones-de-scorpions.jpeg',
      origin: 'Hannover',
      year: '(1965)',
      albums:[ 'Lonesome Crow', ' Fly to the Rainbow', 'In Trance', 'Virgin Killer', 'Taken by Force']
    },
    {
      name: 'Iron Maiden',
      image: 'https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/05/10/15891412501832.jpg',
      origin: 'London',
      year: '(1975)',
      albums:[ 'Iron Maiden', ' Killers', 'The Number of the Beast', 'Piece of Mind', 'Powerslave']
    },
    {
      name: 'Cerati',
      image: 'https://www.orbitarock.com/sites/default/files/styles/optimizado-820-escalable/public/articulos_2016/gustavo-cerati.jpg?itok=wSu3nIxw',
      origin: 'Buenos Aires',
      year: '(1982)',
      albums:[ 'Amor Amarillo', ' Bocanada', 'Siempre es Hoy', 'Ahí Vamos', 'Fuerza Natural']
    },
    {
      name: 'Soda Stereo',
      image: 'https://rtvc-assets-radionica3.s3.amazonaws.com/s3fs-public/styles/image_750x424/public/field/image/article/soda_stereo.jpg?itok=L5buu2k-',
      origin: 'Buenos Aires',
      year: '(1982)',
      albums:[ 'Soda Stereo', ' Nada Personal', 'Signos', 'Ruido Blanco', 'Doble Vida']
    },
    {
      name: 'The Doors',
      image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Doors_electra_publicity_photo.JPG/1200px-Doors_electra_publicity_photo.JPG',
      origin: 'Los Angeles',
      year: '(1965)',
      albums:[ 'The Doors', ' Strange Days', 'Waiting for the Sun', 'The Soft Parade', 'Morrison Hotel']
    }];

    @Watch( 'search' )
    onSearchChanged ( value: any ) {
        if ( this.search !== '' || this.search || this.search.length > 0 ) {
            this.onSubmit();
        }
    }

    mounted () {
        this.listBands = this.list;
    }

    onSubmit () {
        this.listBands = this.list.filter( ( band:any ) => {
            let contained = true;
            if ( this.search && this.search !== '' ) {
                contained = band.name.toLowerCase().trim()
                    .search( this.search.toLowerCase().trim() ) >= 0;
            }
            return contained;
        } );
    }

    clear () {
        this.search = '';
        this.listBands = this.list;
    }
}
</script>

<style>
::-webkit-input-placeholder{
    font-size:1em;
    padding-left:20px !important;
}
.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.app >.item {
  display: flex;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.app > .search {
    display: flex;
    margin-left: 100px;
    margin-bottom: 30px;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.app > .search > .input{
    height: 40px;
    width: 80%;
    border: solid 1px;
    border-radius: 4px 0 0 4px;
}

.app >.search > .search-button{
    background: lightseagreen;
    cursor: pointer;
    height: 46px;
    border-radius: 0 6px 6px 0;
    width: 20%;
    font-size:1.2em;
    color:#fff;
}

.app > .search > .button {
    background: lightseagreen;
    cursor: pointer;
    height: 46px;
    margin-left: 100px;
    border-radius: 6px;
    width: 20%;
    font-size:1.2em;
    color:#fff;
}
</style>
